/*reset*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* generale*/
body {
    background-color: #f6f8f9 ;
}
.banner {
    background-color: white;
    height: 100px;
    padding: 15px 15px 15px 25px;
    
}
.logo {
    height: 70px;
    vertical-align: middle;
    
}
.titolo {
    display: inline-block;
    vertical-align: middle;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 60px ;

}