/*reset*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
/* generale*/
body {
    background-color: #f6f8f9 ;
    
}
.banner {
    background-color: white;
    height: 100px;
    padding: 15px 15px 15px 25px;
    
}
.logo {
    height: 70px;
    vertical-align: middle;
    
}
.titolo {
    display: inline-block;
    vertical-align: middle;
    font-family:  'Montserrat', sans-serif;
    font-size: 50px ;
}
.sezione-bottoni{
    width: 70%;
    margin: 50px 200px;
    max-width: 900px;
	background-color: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    
}
.bottoni{
    height: 70px;
    padding: 20px 0 0 60px ;
    
}
.button-task{
    background-color: #47adf1;
    border:1px solid lightgrey;
    border-radius: 7px;
    padding: 8px 12px;
    color: white;
    margin-right: 3px;
    
}
.button-section{
    background-color: white;
    border:1px solid lightgrey;
    border-radius: 7px;
    padding: 8px 12px;
    color: lightgrey;
    
}
.corpo-centrale{
    border-top: 3px solid #f6f8f9 ;
    max-width: 900px;
    background-color: white;
    padding: 40px 60px;
}
.titoli-lista{
    font-family:  'Montserrat', sans-serif;
    font-size: 25px;
    color: #444851;

}
ul{
    padding:10px 4px 20px 4px;

}
.list-item{
    list-style: none;
    font-family: sans-serif;
    color: #444851;
    font-size: 18px;
    padding: 10px 2px;
    
}
.check{
    display: inline-block;
    color: rgb(35, 153, 35);
    border: 1px solid rgb(35, 153, 35);
    border-radius: 50%;
    height: 20px;
    width: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 12px;
}
.cross{
    display: inline-block;
    color: red;
    border: 1px solid red;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 12px;

}